.description {

    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background-color: blue;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
    color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.sub-description {
    font-size: 14px;
    font-weight: normal;
    text-align: left;
    background-color: green;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid black;
    color: white;
    margin: 5px;
    padding: 5px;
}

.description-hidden {
    display: none;
}


/* HTML: <div class="loader"></div> */
/* .loader {
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  background:linear-gradient(90deg,#000 50%,#0000 0) right/200% 100%;
  animation: l21 2s infinite linear;
} */
.loading-screen::before {
  content :"Loading...";
  color: #0000;
  padding: 0 5px;
  background: inherit;
  background-image: linear-gradient(90deg,#fff 50%,#000 0);
  -webkit-background-clip:text;
          background-clip:text;
}

@keyframes l21{
  100%{background-position: left}
}